.scales{
    display: none;
}
.leather{
    display: none;
}

.image-align{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.image-align .image-fish{
    height: 90px;
    width: 100px;
    background-color: #fff;
    border-radius: 15px;
    background-image: url(../../../img/icons/plus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
